.main-menu::-webkit-scrollbar {
	display: none;
}
.main-menu {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

video {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100%;
}

#success.boxy.img-box {
	align-items: flex-start;
}

#success.boxy .bottom-text .link {
	font-size: 6rem;
	line-height: 4rem;
}

#success.boxy .bottom-text .link:nth-child(2) {
	letter-spacing: 2px;
}

#success.boxy .bottom-text .text {
	font-size: 1.55rem;
}

.v-space-5 {
	padding: 2%;
}

.team-space-bg {
	background-image: linear-gradient(
		to bottom,
		#393e46,
		#393e46 50%,
		#fff 50%,
		#fff
	);
}

.project-header {
	background-color: #232931;
	padding: 7.5rem 3.5rem;
}

.blog-header {
	background-color: #dc2a12;
	padding: 7.5rem 3.5rem;
}

.header .other-color {
	color: #fff;
}

#home {
	position: relative;
	padding: 7% 0 2%;
	min-height: 85vh;
	overflow: hidden;
	text-align: left;
	align-items: flex-end;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 5vh;
	background-color: #dc2a12;
	animation: open-down 3s ease-out;
}

#home img {
	animation: jack-in-the-box 1s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	transform: scale(1.3);
	margin-bottom: 2rem;
}

#home ~ .team-section {
	background-color: white;
	z-index: 1;
}

#home ~ .team-section .extra-lg-text {
	color: #000;
}

#home ~ .team-section {
	margin-bottom: 1rem !important;
}

#home ~ .team-section p {
	color: white;
}

#home ~ .other-content {
	padding-top: 14rem;
}

.hero-text {
	max-width: 100%;
	display: inline;
	text-align: left;
	margin: 0 0 9%;
	color: #fff;
	z-index: 1;
}

.hero-text a {
	text-decoration: none;
	color: white;
}

.hero-text a:hover {
	color: #555;
}

.hero-text h2 {
	margin: auto;
	font-size: 5rem;
	font-family: 'Montserrat Alternates', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 700;
	line-height: 50%;
}

.hero-text h1 {
	margin: auto;
	font-size: 7rem;
	/* line-height: 80%; */
	font-weight: 700;
	font-family: 'Montserrat Alternates', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	animation: text-clip 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.hero-text h3 {
	margin: 2rem auto;
	font-size: 4rem;
	line-height: 4rem;
	font-family: 'Comfortaa', cursive;
	animation: text-clip 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.hero-text p {
	font-size: 1.5rem;
}

#home .hero-text:nth-child(4) {
	text-align: right;
}

.play-button {
	display: inline-block;
	background: url(../images/Play-Button.png) no-repeat center;
	background-size: cover;
	height: 1.2rem;
	width: 1.2rem;
	margin-bottom: -0.1rem;
	transform: rotate(90deg);
}

.icon-arrow {
	display: inline-block;
	background: url(../images/icon-arrow.png) no-repeat center;
	background-size: cover;
	height: 1.3rem;
	width: 1.3rem;
	margin-bottom: -0.1rem;
}

.hero-text p:hover {
	cursor: pointer;
}

.highlight-text {
	width: 100%;
	height: 100%;
	padding-left: 20rem;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: space-around;
}

.highlight-text h2 {
	height: fit-content;
	margin: auto 0;
	font-size: 48px;
	animation: text-clip 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

#home h1:nth-child(odd) {
	color: rgba(255, 0, 0, 0.6);
	-webkit-text-fill-color: #dc2a12;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #ce202c;
}
.slide-text {
	position: absolute;
	overflow: hidden;
	/* font-family: 'Monrserrat Alternates', sans-serif; */
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	font-size: 4rem;
	font-weight: 800;
	color: rgba(255, 0, 0, 0.2);
}
.slide-text .unreal:nth-child(odd) {
	/* display: inline; */
	white-space: nowrap;
	animation: slide-left 10s linear alternate infinite;
}
.slide-text .unreal:nth-child(even) {
	white-space: nowrap;
	color: rgba(255, 0, 0, 0.2);
	-webkit-text-fill-color: #dc2a12;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgba(255, 0, 0, 0.2);
	animation: slide-right 10s linear alternate infinite;
}

/* ============================== About Page ================================== */

.about-header {
	padding: 14rem 3.5rem;
}

.about-header .row {
	justify-content: center;
}

.about-header .row .col {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	max-width: 65%;
	padding: 0;
	/* border: 1px solid grey; */
	border-radius: 50px;
}

.about-header .lg-text {
	/* font-family: 'Almarai', sans-serif; */
	color: #e71d25;
	text-align: left;
	font-size: 5em;
	line-height: 1.6em;
	margin-left: 0%;
	margin-bottom: 0;
	min-width: 100%;
	align-items: flex-end;
}
.about-header .lg-text span {
	font-family: 'Almarai', sans-serif;
	font-weight: 600;
	font-size: 1.7em;
	display: block;
	padding-top: 1%;
}
.about-header .lg-text span:nth-child(even) {
	text-align: center;
}
/* .about-header .lg-text span:nth-child(2)::before {
	content: '';
	position: absolute;
	right: 40%;
	top: 30%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #e71d25;
	animation: abolute-bounce 1s linear infinite alternate;
} */
.service .normal-text p {
	padding: 10px 15% 0;
}
/* .creative {
	font-family: 'Almarai', sans-serif;
	font-weight: 600;
	font-size: 2em;
} */

.about-header .col img {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	width: 100px;
	display: none;
}

.close-quote {
	bottom: -13%;
	right: -4%;
}

.open-quote {
	top: -10%;
	left: -4%;
}

.about-header .normal-text p {
	/* text-align: right; */
	line-height: 1.55em;
	font-size: 1em;
	margin-bottom: 0;
	color: #111219;
}

footer ul {
	text-align: left;
}

footer .footer-main-menu ul > * > a,
footer ul li:nth-child(1) a {
	font-size: 1.8rem;
	line-height: 3.3rem;
}

footer ul li a {
	color: #fff;
	line-height: 2.5rem;
}

footer ul li a:hover {
	color: #da2128;
	text-decoration: none;
}

footer .footer-socials ul {
	margin: 50px auto 1rem;
	display: inline-block;
}

.footer-socials ul li {
	display: inline;
	float: left;
	margin: auto 2rem;
}

footer .footer-socials ul li a {
	font-size: 1.5rem;
	line-height: 2.5rem;
}

/* ============================== SVG ================================== */
svg:not(:root) {
	overflow: visible;
	position: absolute;
	top: -50%;
	right: 25.5%;
}
.track {
	stroke: transparent;
}

.marker {
	/* circle path of appropriate size */
	motion-path: path('M 25, 50 a 25,25 0 1,1 50,0 a 25,25 0 1,1 -50,0');
	offset-path: path('M 25, 50 a 25,25 0 1,1 50,0 a 25,25 0 1,1 -50,0');

	/* very small circle path */
	/* motion-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0'); */
	/* offset-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0'); */
	animation: move 10s linear reverse infinite;
}

/* ============================== Responsive ================================== */
@media (min-width: 1200px) {
	.about-header .lg-text span:nth-child(odd) {
		font-weight: 400;
	}
}
@media (min-width: 911px) {
	.about-header .normal-text {
		width: 31%;
		position: absolute;
		top: 0;
		right: 0;
	}
}
@media (max-width: 1400px) {
	.about-header {
		padding: 14rem 3.5rem;
	}
	.about-header .row .col {
		max-width: 85%;
		padding: 2%;
	}
}

@media (max-width: 911px) {
	#videoId {
		display: none;
	}

	#success.boxy .bottom-text .link {
		font-size: 3rem;
		line-height: 2.5rem;
	}

	#success.boxy .bottom-text .text {
		font-size: 1rem;
	}

	#home {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.about-header .row .col {
		max-width: 80%;
		flex-direction: column;
		padding: 5% 6%;
	}
	.about-header .col img {
		width: 80px;
	}
	.about-header .lg-text {
		margin-left: 0;
		font-size: 1.5em;
	}
	.about-header {
		padding: 2rem 0;
	}
	.about-header .normal-text {
		margin-left: auto;
		width: auto;
	}
	.about-header .normal-text p {
		text-align: justify;
	}
	.open-quote {
		top: -6%;
		left: -10%;
	}
	.close-quote {
		bottom: -7%;
		right: -7%;
	}
	.blog-header,
	.project-header {
		padding: 3rem;
	}
	svg:not(:root) {
		top: -70px;
		right: -40%;
	}
}

@media (max-width: 575px) {
	#home {
		min-height: 70vh;
		padding: 0;
	}
	#home img {
		position: absolute;
		transform: scale(1);
		margin-bottom: -1rem;
	}

	#home .hero-text:nth-child(4) {
		display: none;
	}

	.hero-text {
		margin: 0 0 2%;
	}

	.hero-text h3 {
		margin: 1rem auto 0;
		font-size: 1.8rem;
		line-height: 1.8rem;
	}

	.play-button {
		height: 1rem;
		width: 1rem;
	}

	.hero-text p {
		padding-top: 0.5rem;
		font-size: 1rem;
		animation: scroll-down-bounce 15s 0.5s linear infinite;
	}

	#success.boxy .bottom-text .text {
		font-size: 0.8rem;
	}
}

/* ============================== Keyframes ================================== */

@keyframes text-clip {
	from {
		clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

@keyframes slide-left {
	from {
		margin-left: 0%;
		/* width: 300%; */
	}
	to {
		margin-left: -10%;
	}
}
@keyframes slide-right {
	from {
		margin-left: -10%;
	}
	to {
		margin-left: 0%;
	}
}

@keyframes scroll-down-bounce {
	0% {
		margin-bottom: 1rem;
	}
	15% {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	30% {
		margin-top: 0rem;
		margin-bottom: 1rem;
	}
	45% {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	60% {
		margin-top: 0rem;
		margin-bottom: 1rem;
	}
	75% {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	90% {
		margin-top: 0rem;
		margin-bottom: 1rem;
	}
	to {
		margin-bottom: 1rem;
	}
}

@keyframes move {
	100% {
		motion-offset: 100%;
		offset-distance: 100%;
	}
}
