/*------------------------------------------------------------------
 * Theme Name: CRE8
 * Theme URI: https://www.brandio.io/envato/cre8
 * Author: Brandio
 * Author URI: https://www.brandio.io/
 * Description: A Bootstrap Responsive HTML5 Template
 * Version: 1.0
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Bootstrap v4.1 (http://getbootstrap.com)
 * Copyright 2019 Brandio.
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. General Styles.
2. Header Styles
3. Box Contentt Styles
4. Default Content Styles
5. Clients Section Styles
6. Other Content Styles
7. Process Section Styles
8. Team Section Styles
9. Jobs Section Styles
10. Blog Section Styles
11. Post Section Styles
12. Few Contact Styles
13. Jobs Section Styles
14. Social Row Styles
15. Project Info Styles
16. Footer Styles
17. Responsive Styles.
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lalezar&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0, 700;0, 900;1, 700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* -----------------------------------
    1 - General Styles
------------------------------------*/
:root {
	--reidis: #da2128;
	--reidis2: #9b1c1f;
}

::selection {
	background-color: rgba(137, 139, 145, 0.7);
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

*,
body {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lalezar', cursive;
}

.logo {
	border-radius: 50%;
}

.cr-btn {
	display: inline-block;
	font-family: 'Lalezar', cursive;
	font-size: 1.45rem;
	color: #fff;
	text-transform: uppercase;
	padding: 1.3rem 2.1rem 1rem;
	border-radius: 10rem;
	-webkit-box-shadow: inset 0 0 0 0.25rem #fff;
	box-shadow: inset 0 0 0 0.25rem #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.cr-btn:hover,
.cr-btn:focus {
	color: #232931;
	text-decoration: none;
	-webkit-box-shadow: inset 0 0 0 3.25rem #fff;
	box-shadow: inset 0 0 0 3.25rem #fff;
}

.cr-btn.primary {
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 0.28rem var(--reidis);
	box-shadow: inset 0 0 0 0.28rem var(--reidis);
}

.cr-btn.primary:hover,
.cr-btn.primary:focus {
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 3.25rem var(--reidis);
	box-shadow: inset 0 0 0 3.25rem var(--reidis);
}

.cr-btn.black {
	color: #000;
	-webkit-box-shadow: inset 0 0 0 0.28rem #000;
	box-shadow: inset 0 0 0 0.28rem #000;
}

.cr-btn.black:hover,
.cr-btn.black:focus {
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 3.25rem #000;
	box-shadow: inset 0 0 0 3.25rem #000;
}

.cr-btn.ex-padding {
	padding: 1.3rem 3.7rem 1rem;
}

body {
	overflow-x: hidden;
	-webkit-transition: all 500ms cubic-bezier(1, -0.02, 0.25, 0.75);
	transition: all 500ms cubic-bezier(1, -0.02, 0.25, 0.75);
}

body.menu-open {
	padding-left: 20rem;
}

.menu-toggle {
	position: fixed;
	z-index: 99999;
	width: 1.8rem;
	height: 2.2rem;
	cursor: pointer;
	left: 3.5rem;
	top: 50%;
	margin-top: -1.1rem;
	mix-blend-mode: difference;
	-webkit-transition: all 500ms cubic-bezier(1, -0.02, 0.25, 0.75);
	transition: all 500ms cubic-bezier(1, -0.02, 0.25, 0.75);
}

.menu-toggle .icon {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--reidis);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.menu-toggle .icon:before,
.menu-toggle .icon:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--reidis);
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.menu-toggle .icon:before {
	top: 1rem;
}

.menu-toggle .icon:after {
	top: 2rem;
}

.menu-toggle.open {
	left: 19.1rem;
}

.menu-toggle.open .icon {
	background-color: transparent;
}

.menu-toggle.open .icon:before {
	-webkit-transform: rotate(45deg) scaleX(1.4);
	-moz-transform: rotate(45deg) scaleX(1.4);
	-ms-transform: rotate(45deg) scaleX(1.4);
	transform: rotate(45deg) scaleX(1.4);
}

.menu-toggle.open .icon:after {
	top: 1rem;
	-webkit-transform: rotate(-45deg) scaleX(1.4);
	-moz-transform: rotate(-45deg) scaleX(1.4);
	-ms-transform: rotate(-45deg) scaleX(1.4);
	transform: rotate(-45deg) scaleX(1.4);
}

.main-menu {
	position: fixed;
	top: 0;
	left: -30rem;
	height: 100%;
	width: 20rem;
	background-color: #393e46;
	text-align: right;
	padding: 3rem 4rem;
	overflow-y: scroll;
	z-index: 9999;
	-webkit-transition: all 500ms cubic-bezier(1, -0.02, 0.25, 0.75);
	transition: all 500ms cubic-bezier(1, -0.02, 0.25, 0.75);
}

.main-menu.opened {
	left: 0;
}

.main-menu .contant-info {
	margin-bottom: 4rem;
}

.main-menu .contant-info div {
	font-family: 'Lalezar', cursive;
	font-size: 1.3rem;
	color: #777a80;
}

.main-menu .contant-info div a {
	font-family: 'Lalezar', cursive;
	font-size: 1.3rem;
	color: #777a80;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.main-menu .contant-info div a:hover,
.main-menu .contant-info div a:focus {
	color: var(--reidis);
	text-decoration: none;
}

.main-menu .menu-links {
	margin-bottom: 6rem;
}

.main-menu .menu-links ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-menu .menu-links ul li {
	overflow: hidden;
	padding-top: 0.5rem;
}

.main-menu .menu-links ul li a {
	display: inline-block;
	font-size: 2rem;
	line-height: 2.4rem;
	font-family: 'Lalezar', cursive;
	color: #a8aaad;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.main-menu .menu-links ul li button {
	display: inline-block;
	font-size: 2rem;
	line-height: 2.4rem;
	font-family: 'Lalezar', cursive;
	color: #a8aaad;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background-color: transparent;
	border: 0;
	padding: 0;
}
.main-menu .menu-links ul li button:focus,
.main-menu .menu-links ul li button:hover {
	text-decoration: none;
	background-color: transparent;
	outline: 0;
}
.main-menu .menu-links ul li button:hover {
	color: var(--reidis);
}

.main-menu .menu-links ul li ul li a {
	font-size: 0.9rem;
	line-height: 1rem;
}

.main-menu .menu-links ul li a:hover,
.main-menu .menu-links ul li a:focus {
	color: var(--reidis);
	text-decoration: none;
	background-color: transparent;
}

.dropdowwn {
	display: flex;
	flex-direction: column;
}

.dropdown-menu {
	/* top: 0; */
	left: 0;
	margin-top: 3rem;
	bottom: 0;
	background-color: #393e46;
	opacity: 0;
	max-height: 0;
	transition: all 0.5s ease-in-out;
	border: 0;
	display: block;
}

.dropdown-item {
	padding: 0.25rem 0;
	text-align: end;
}

@-webkit-keyframes m-h {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 100%;
		opacity: 1;
	}
}
@keyframes m-h {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 100%;
		opacity: 1;
	}
}

.dropdown-menu.open {
	position: relative;
	max-height: 500px;
	float: right;
	opacity: 1;
	border: 0;
}

.main-menu .social-media {
	display: inline-block;
	opacity: 1;
	pointer-events: all;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.main-menu .social-media .social-link-holder {
	text-align: right;
}

.main-menu .social-media .social-link-holder a {
	font-size: 1.2rem;
	font-family: 'Lalezar', cursive;
	color: #a8aaad;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.main-menu .social-media .social-link-holder a:hover,
.main-menu .social-media .social-link-holder a:focus {
	color: #8b8d91;
	text-decoration: none;
}

/* -----------------------------------
    2 - Header Styles
------------------------------------*/
.cnav {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 4rem 3.5rem;
	pointer-events: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cnav .logo-holder {
	display: inline-block;
	pointer-events: all;
}

.cnav .logo-holder img {
	width: 5rem;
}

.cnav .social-media {
	display: inline-block;
	opacity: 1;
	pointer-events: all;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cnav .social-media .social-link-holder {
	text-align: left;
}

.cnav .social-media .social-link-holder a {
	font-size: 1.2rem;
	font-family: 'Lalezar', cursive;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cnav .social-media .social-link-holder a:hover,
.cnav .social-media .social-link-holder a:focus {
	color: #898b91;
	text-decoration: none;
}

.cnav .social-media.hide {
	-webkit-transform: translateY(-13rem);
	-moz-transform: translateY(-13rem);
	-ms-transform: translateY(-13rem);
	transform: translateY(-13rem);
}

.cnav.blend {
	mix-blend-mode: hard-light;
}

.header {
	background-color: #dc2a12;
	/* background-color: #e22c27; */
	/* background-color: #fff; */
	text-align: center;
	padding: 16rem 3.5rem 14rem;
}

.header .mouse-scroll {
	position: absolute;
	display: inline-block;
	bottom: 3rem;
	left: 50%;
	margin-left: -0.8rem;
	width: 1.6rem;
	height: 2.4rem;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, 0.15);
	pointer-events: none;
	-webkit-box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.24);
	box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.24);
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.header .lg-text .other-color {
	color: white;
}

.header .mouse-scroll:before {
	position: absolute;
	content: '';
	top: 0.5rem;
	left: 50%;
	margin-left: -0.1rem;
	width: 0.2rem;
	height: 0.4rem;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.21);
	-webkit-animation: m-an 2s ease infinite;
	-moz-animation: m-an 2s ease infinite;
	-ms-animation: m-an 2s ease infinite;
	animation: m-an 2s ease infinite;
}

.header .mouse-scroll.hide {
	opacity: 0;
}

.header .mouse-scroll.hide:before {
	opacity: 0;
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

@-webkit-keyframes m-an {
	0% {
		top: 0.5rem;
		height: 0.2rem;
		opacity: 0;
	}

	15% {
		top: 0.7rem;
		height: 0.6rem;
		opacity: 1;
	}

	50% {
		top: 0.9rem;
		height: 0.6rem;
		opacity: 1;
	}

	70% {
		top: 1rem;
		height: 0.5rem;
		opacity: 1;
	}

	90% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}

	100% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}
}

@-moz-keyframes m-an {
	0% {
		top: 0.5rem;
		height: 0.2rem;
		opacity: 0;
	}

	15% {
		top: 0.7rem;
		height: 0.6rem;
		opacity: 1;
	}

	50% {
		top: 0.9rem;
		height: 0.6rem;
		opacity: 1;
	}

	70% {
		top: 1rem;
		height: 0.5rem;
		opacity: 1;
	}

	90% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}

	100% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}
}

@-ms-keyframes m-an {
	0% {
		top: 0.5rem;
		height: 0.2rem;
		opacity: 0;
	}

	15% {
		top: 0.7rem;
		height: 0.6rem;
		opacity: 1;
	}

	50% {
		top: 0.9rem;
		height: 0.6rem;
		opacity: 1;
	}

	70% {
		top: 1rem;
		height: 0.5rem;
		opacity: 1;
	}

	90% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}

	100% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}
}

@keyframes m-an {
	0% {
		top: 0.5rem;
		height: 0.2rem;
		opacity: 0;
	}

	15% {
		top: 0.7rem;
		height: 0.6rem;
		opacity: 1;
	}

	50% {
		top: 0.9rem;
		height: 0.6rem;
		opacity: 1;
	}

	70% {
		top: 1rem;
		height: 0.5rem;
		opacity: 1;
	}

	90% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}

	100% {
		top: 1.2rem;
		height: 0.5rem;
		opacity: 0;
	}
}

.extra-lg-text {
	color: #fff;
	text-align: center;
	font-family: 'Lalezar', cursive;
	font-size: 4rem;
	line-height: 3.4rem;
	text-transform: uppercase;
}

.extra-lg-text span {
	display: inline-block;
	font-family: 'Lalezar', cursive;
}

.extra-lg-text .other-color {
	color: var(--reidis);
	font-family: 'Lalezar', cursive;
}

/*
.inner-page{
    .header{
        background-color: #393E46;
    }
}
*/
/* -----------------------------------
    3 - Box Contentt Styles
------------------------------------*/
.box-content {
	padding: 0;
}

.box-content .row {
	margin: 0;
}

.box-content .row div[class^='col'] {
	padding: 0;
}

.boxy {
	position: relative;
	height: 100%;
	padding: 15% 10%;
}

.boxy h1.title {
	font-size: 2.4rem;
	line-height: 2.4rem;
	margin: 0;
	margin-bottom: 3rem;
}

.boxy .text ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.boxy .text ul li {
	font-family: 'Lalezar', cursive;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.boxy .bottom-text {
	text-align: center;
}

.boxy .bottom-text .link {
	font-family: 'Lalezar', cursive;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.3rem;
}

.boxy .bottom-text .link a {
	font-family: 'Lalezar', cursive;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.3rem;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.boxy .bottom-text .link a:hover,
.boxy .bottom-text .link a:focus {
	color: #abadb3;
	text-decoration: none;
}

.boxy .bottom-text .text {
	color: #fff;
	font-size: 1.2rem;
}

.boxy .project-link-full {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.boxy.c1-color {
	background-color: #fff;
}

.boxy.c1-color h1.title {
	color: #232931;
}

.boxy.c1-color .text {
	color: rgba(0, 0, 0, 0.66);
}

.boxy.c1-color .slg-text {
	color: #232931;
}

.boxy.c1-color .normal-lg-text p {
	color: rgba(0, 0, 0, 0.66);
}

.boxy.primary-color {
	background-color: var(--reidis);
}

.boxy.primary-color h1.title {
	color: white;
}

.boxy.primary-color .text {
	color: rgba(255, 255, 255, 0.66);
}

.boxy.primary-color .slg-text {
	color: #fff;
}

.boxy.primary-color .normal-lg-text p {
	color: #fff;
}

.boxy.default-color {
	background-color: #da2128;
}

.boxy.default-color h1.title {
	color: #fff;
}

.boxy.default-color .text {
	color: white;
}

.boxy.default-color .slg-text {
	color: #fff;
}

.boxy.default-color .normal-lg-text p {
	color: rgba(255, 255, 255, 0.66);
}

.boxy.c2-color {
	background-color: #da2128;
}

.boxy.c2-color h1.title {
	color: #fff;
}

.boxy.c2-color .text {
	color: white;
}

.boxy.c2-color .slg-text {
	color: #fff;
}

.boxy.c2-color .normal-lg-text p {
	color: rgba(255, 255, 255, 0.66);
}

.boxy.img-box {
	position: relative;
	padding: 4rem;
	min-height: 50vh;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-align-items: flex-end;
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	overflow: hidden;
}

/* .boxy.img-box:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #232931;
	opacity: 0;
	z-index: -1;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
} */

.boxy.img-box .img img,
.boxy.img-box .img video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.boxy.img-box .img {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

/* .boxy.img-box:hover .img,
.boxy.img-box:focus .img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
} */

.boxy.img-box:hover:before,
.boxy.img-box:focus:before {
	opacity: 0.8;
	/* -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); */
}

/* -----------------------------------
    4 - Default Content Styles
------------------------------------*/
.default-content {
	background-color: #232931;
	text-align: center;
	padding: 10rem 3.5rem 8rem;
}

.default-content .lg-text {
	margin-bottom: 2.2rem;
}

.default-content p {
	color: rgba(255, 255, 255, 0.66);
	font-size: 1rem;
	line-height: 2.5rem;
	padding: 0 10rem;
}

.default-content .normal-text {
	margin-bottom: 5rem;
}

.lg-text {
	color: #fff;
	text-align: center;
	font-family: 'Lalezar', cursive;
	font-size: 4rem;
	line-height: 3.4rem;
	text-transform: uppercase;
	margin-bottom: 2.2rem;
}

.lg-text span {
	font-family: 'Lalezar', cursive;
	display: inline-block;
}

.lg-text .other-color {
	color: var(--reidis);
	font-family: 'Lalezar', cursive;
}

.normal-text p,
.normal-text ul {
	color: rgba(255, 255, 255, 0.66);
	font-size: 1.1rem;
	line-height: 2rem;
}

.slg-text {
	color: #fff;
	text-align: center;
	font-family: 'Lalezar', cursive;
	font-size: 5rem;
	line-height: 3.9rem;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

.slg-text span {
	font-family: 'Lalezar', cursive;
	display: inline-block;
}

.slg-text .other-color {
	color: var(--reidis);
	font-family: 'Lalezar', cursive;
}

.normal-lg-text {
	text-align: center;
}

.normal-lg-text p {
	font-family: 'Lalezar', cursive;
	color: rgba(255, 255, 255, 0.66);
	font-size: 2.5rem;
	line-height: 3.3rem;
}

.normal-lg-text p a {
	font-family: 'Lalezar', cursive;
	color: rgba(255, 255, 255, 0.66);
	font-size: 2rem;
	line-height: 3.3rem;
}

/* -----------------------------------
    5 - Clients Section Styles
------------------------------------*/
.clients-section {
	background-color: #fff;
	text-align: left;
	padding: 10rem 10rem 3rem;
}

.clients-section .lg-text {
	color: #000;
	text-align: left;
	margin-bottom: 2.2rem;
}

.clients-section p {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.1rem;
	line-height: 2rem;
}

.clients-section .normal-text {
	margin-bottom: 5rem;
}

.clients-section .clients-logos {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
}

.clients-section .clients-logos .logo-holder {
	-moz-flex: 1 1 25%;
	-webkit-flex: 1 1 25%;
	-ms-flex: 1 1 25%;
	flex: 1 1 25%;
	margin-bottom: 5rem;
}

.clients-section .clients-logos .logo-holder img {
	max-height: 2.8rem;
}

/* -----------------------------------
    6 - Other Content Styles
------------------------------------*/
.other-content {
	background-color: #da2128;
	text-align: center;
	padding: 9rem 3.5rem 7rem;
}

.other-content .lg-text {
	margin-bottom: 2.2rem;
}

.other-content p {
	color: rgba(255, 255, 255, 0.66);
	font-size: 1.1rem;
	line-height: 2rem;
}

.other-content .normal-text {
	margin-bottom: 4rem;
}

/* -----------------------------------
    7 - Process Section Styles
------------------------------------*/
.process-section {
	background-color: #fff;
	text-align: left;
	padding: 8rem 12rem 3rem;
}

.process-section .lg-text {
	text-align: left;
}

.process-section p {
	color: rgba(0, 0, 0, 0.66);
	margin-bottom: 6rem;
}

.process-section > .row {
	margin-right: -40px;
	margin-left: -40px;
}

.process-section > .row > div[class^='col'] {
	padding-right: 40px;
	padding-left: 40px;
}

.text-box {
	margin-bottom: 4rem;
}

.text-box .title {
	font-family: 'Lalezar', cursive;
	font-size: 2.4rem;
	margin-bottom: 0.8rem;
}

.text-box p {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
	line-height: 2.5rem;
}

/* -----------------------------------
    8 - Team Section Styles
------------------------------------*/
.team-section {
	position: relative;
	background-color: #da2128;
	padding: 10rem 8rem 12rem;
	z-index: 10;
}

.team-section .team-photos {
	position: absolute;
	left: 0;
	bottom: -12.25rem;
	width: 100%;
	padding-bottom: 5rem;
	overflow: hidden;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.team-section .team-photos .photo-holder {
	position: relative;
	display: inline-block;
	margin: 0 2.4rem;
	text-align: center;
}

.team-section .team-photos .photo-holder img {
	border-radius: 10rem;
	width: 14.5rem;
}

.team-section .team-photos .photo-holder p {
	margin-top: 1rem;
}

.team-section .team-photos .photo-holder:nth-child(odd) {
	bottom: -3.5rem;
}

@-webkit-keyframes photos-move {
	0% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-140%);
		-moz-transform: translateX(-140%);
		-ms-transform: translateX(-140%);
		transform: translateX(-140%);
	}
}

@-moz-keyframes photos-move {
	0% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-140%);
		-moz-transform: translateX(-140%);
		-ms-transform: translateX(-140%);
		transform: translateX(-140%);
	}
}

@-ms-keyframes photos-move {
	0% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-140%);
		-moz-transform: translateX(-140%);
		-ms-transform: translateX(-140%);
		transform: translateX(-140%);
	}
}

@keyframes photos-move {
	0% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-140%);
		-moz-transform: translateX(-140%);
		-ms-transform: translateX(-140%);
		transform: translateX(-140%);
	}
}

/* -----------------------------------
    9 - Jobs Section Styles
------------------------------------*/
.jobs-section {
	background-color: #fff;
	text-align: left;
	padding: 2rem 10rem 3rem;
}

.jobs-section .lg-text {
	text-align: left;
	margin-bottom: 7rem;
}

.jobs-section .job-box-row {
	margin-bottom: 5rem;
}

.jobs-section .job-box-row:last-child {
	margin-bottom: 0;
}

.jobs-section .job-box .title {
	font-family: 'Lalezar', cursive;
	font-size: 2.4rem;
	line-height: 2.5rem;
	text-transform: uppercase;
}

.jobs-section .job-box .subtitle {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
	line-height: 2.5rem;
}

.jobs-section .btn-holder {
	text-align: right;
}

.padding-for-team {
	margin-bottom: 5rem !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

/* -----------------------------------
    10 - Blog Section Styles
------------------------------------*/
.blog-section {
	padding: 6rem;
	background-color: #fff;
}

.blog-section .row .col {
	display: flex;
}

.post-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
	margin-bottom: 5rem;
	flex-direction: column-reverse;
	width: 22%;
	margin: 0 2%;
	position: relative;
	max-height: 400px;
}

.post-box .img-holder {
	overflow: hidden;
	object-fit: contain;
}

.post-box:last-child {
	margin-bottom: 0;
}

.post-box .text-holder {
	padding: 2rem 1rem 0;
	position: relative;
}

.post-box .text-holder .title {
	display: inline-block;
	color: #232931;
	text-align: left;
	font-family: 'Lalezar', cursive;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
	margin-bottom: 2.2rem;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.post-box .text-holder .title:hover,
.post-box .text-holder .title:focus {
	text-decoration: none;
	color: #60666d;
}

.post-box .text-holder .text {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
	line-height: 2.5rem;
	display: none;
}

.post-box .img-holder img {
	width: 100%;
}

/* -----------------------------------
    11 - Post Section Styles
------------------------------------*/
.post-section {
	background-color: #fff;
	padding: 0;
}

.post-section > .row {
	margin: 0;
}

.post-section > .row > div[class^='col'] {
	padding: 0;
}

.post-section .post-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.post-section .post-header .post-info-holder {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 4rem;
}

.post-section .post-header .post-info-holder .link-holder {
	-moz-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.post-section .post-header .post-info-holder .link-holder a {
	font-family: 'Lalezar', cursive;
	font-size: 1.7rem;
	color: #393e46;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.post-section .post-header .post-info-holder .link-holder a:hover,
.post-section .post-header .post-info-holder .link-holder a:focus {
	color: #60666d;
	text-decoration: none;
}

.post-section .post-header .post-info-holder .post-info {
	-moz-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
}

.post-section .post-header .post-info-holder .post-info .date {
	display: inline-block;
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
	margin-right: 1rem;
}

.post-section .post-header .post-info-holder .post-info .auther {
	display: inline-block;
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
}

.post-section .post-header .text-holder {
	padding: 4rem 9.5rem;
	width: 80%;
}

.post-section .post-header .text-holder .title {
	display: inline-block;
	color: #232931;
	text-align: left;
	font-family: 'Lalezar', cursive;
	font-size: 5.3rem;
	line-height: 3.9rem;
	text-transform: uppercase;
	margin-bottom: 2.2rem;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.post-section .post-header .text-holder .text {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
	line-height: 2.5rem;
}

.post-section .post-header .img-holder img {
	width: 29rem;
}

.post-section .post-content {
	padding: 4rem 9.5rem;
}

.post-section .post-content h1 {
	margin-bottom: 1rem;
}

.post-section .post-content p {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.12rem;
	line-height: 2.5rem;
	margin-bottom: 4rem;
}

/* -----------------------------------
    12 - Few Contact Styles
------------------------------------*/
.few-contact {
	padding: 4rem 8rem;
	background-color: #fff;
}

.few-contact .contact-info-holder {
	text-align: left;
}

.few-contact .contact-info-holder .title {
	font-family: 'Lalezar', cursive;
	font-size: 1.6rem;
	color: #777a80;
}

.few-contact .contact-info-holder .contact-info {
	font-family: 'Lalezar', cursive;
	color: #232931;
	font-size: 4.8rem;
}

.few-contact .contact-info-holder .contact-info a {
	font-family: 'Lalezar', cursive;
	color: var(--reidis);
	font-size: 4.8rem;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.few-contact .contact-info-holder .contact-info a:hover,
.few-contact .contact-info-holder .contact-info a:focus {
	color: #777a80;
	text-decoration: none;
}

/* -----------------------------------
    13 - Jobs Section Styles
------------------------------------*/
.our-people-section {
	background-color: #fff;
	text-align: left;
	padding: 10rem 10rem;
}

.our-people-section .extra-lg-text {
	color: #393e46;
	margin-bottom: 11rem;
}

.our-people-section .lg-text {
	text-align: left;
	margin-bottom: 2rem;
}

.our-people-section .normal-text {
	margin-bottom: 5rem;
}

.our-people-section .normal-text p {
	color: rgba(0, 0, 0, 0.66);
}

.our-people-section .people-box-row {
	margin-bottom: 5rem;
}

.our-people-section .people-box-row:last-child {
	margin-bottom: 0;
}

.our-people-section .people-box .title {
	font-family: 'Lalezar', cursive;
	font-size: 2.4rem;
	line-height: 2.5rem;
	text-transform: uppercase;
}

.our-people-section .people-box .subtitle {
	color: rgba(0, 0, 0, 0.66);
	font-size: 1.26rem;
	line-height: 2.5rem;
}

.our-people-section .btn-holder {
	text-align: right;
}

/* -----------------------------------
    14 - Social Row Styles
------------------------------------*/
.social-row {
	background-color: #393e46;
	text-align: center;
	padding: 5rem 5.5rem;
}

.social-row .social-media .social-link-holder {
	display: inline-block;
	margin: 0 1rem;
}

.social-row .social-media .social-link-holder a {
	font-family: 'Lalezar', cursive;
	font-size: 2.5rem;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.social-row .social-media .social-link-holder a:hover,
.social-row .social-media .social-link-holder a:focus {
	color: var(--reidis);
	text-decoration: none;
}

/* -----------------------------------
    15 - Project Info Styles
------------------------------------*/
.project-info {
	background-color: #fff;
	padding: 6rem 8rem 2rem;
}

.project-info h2 {
	color: #393e46;
	margin-bottom: 1rem;
}

.project-info .lg-text {
	color: #000;
	text-align: left;
	margin-bottom: 2rem;
}

.project-info .normal-text {
	margin-bottom: 5rem;
}

.project-info .normal-text p {
	color: rgba(0, 0, 0, 0.66);
}

.project-info .text-box .title {
	color: #393e46;
	font-size: 1.9rem;
	margin-bottom: 1.4rem;
}

.project-imgs {
	background-color: #fff;
	padding: 3.5rem;
}

.project-imgs .img-holder {
	margin-bottom: 4rem;
}

.project-imgs .img-holder img {
	width: 100%;
}

/* -----------------------------------
    16 - Service Styles
------------------------------------*/

.service-info {
	padding: 0;
	background-color: #fff;
}

.service-info .row {
	margin: 0;
	background-color: #fff;
}

.service-info .row div[class^='col'] {
	padding: 0;
}

.service-info .row .normal-text p,
.service-info .row .normal-text ul {
	color: #232931;
}

.service-info .container > h1 {
	margin: 5% 3.5% 0;
}

.service-info .boxy {
	padding: 6% 10%;
}

.explore-section {
	text-align: center;
}

.explore-section .lg-text {
	text-align: center;
}

/* .service-info .boxy.img-box .img {
	position: relative;
	padding: 2rem;
} */

/* -----------------------------------
    17 - Footer Styles
------------------------------------*/
.footer {
	background-color: #232931;
	text-align: center;
	padding: 10rem 8rem 0;
}

.footer .lg-text {
	color: var(--reidis);
	margin-bottom: 2.2rem;
}

.footer p {
	color: rgba(255, 255, 255, 0.66);
	font-size: 1.1rem;
	line-height: 2rem;
	opacity: 1 !important;
}

.footer .normal-text {
	margin-bottom: 6rem;
}

.footer .contact-info-holder {
	text-align: left;
}

.footer .contact-info-holder .title {
	font-family: 'Lalezar', cursive;
	font-size: 1.6rem;
	color: #777a80;
}

.footer .contact-info-holder .contact-info {
	font-family: 'Lalezar', cursive;
	color: #fff;
	font-size: 4rem;
}

.footer .contact-info-holder .contact-info a {
	font-family: 'Lalezar', cursive;
	color: #fff;
	font-size: 4rem;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer .contact-info-holder .contact-info a:hover,
.footer .contact-info-holder .contact-info a:focus {
	color: var(--reidis);
	text-decoration: none;
}

.footer .contact-info-holder .social-media {
	display: inline-block;
	opacity: 1;
	pointer-events: all;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer .contact-info-holder .social-media .social-link-holder {
	text-align: left;
	display: inline-block;
	margin-right: 0.5rem;
}

.footer .contact-info-holder .social-media .social-link-holder a {
	font-size: 1.2rem;
	font-family: 'Lalezar', cursive;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer .contact-info-holder .social-media .social-link-holder a:hover,
.footer .contact-info-holder .social-media .social-link-holder a:focus {
	color: #898b91;
	text-decoration: none;
}

.footer.one-word {
	padding: 14rem 8rem 13rem;
}

.footer.one-word .lg-text {
	color: #fff;
}

/* -----------------------------------
    18 - Accordian Styles
------------------------------------*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #f9f9f9;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion i {
	margin-right: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
	background-color: #eee;
}

.accordion:focus {
	outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
	background-color: white;
	height: 0;
	overflow: hidden;
	transition: height ease 0.2s;
}

.panel p {
	margin-top: 1rem;
}

/* -----------------------------------
    19 - Responsive Styles
------------------------------------*/
@media (min-width: 1400px) {
	.container.post-section {
		max-width: 1500px;
	}
}

@media (max-width: 1200px) {
	body.menu-open {
		padding-left: 0;
	}

	.clients-section .clients-logos .logo-holder img {
		max-height: 2rem;
	}

	.footer .contact-info-holder .contact-info,
	.few-contact .contact-info-holder .contact-info {
		font-size: 4rem;
	}

	.footer .contact-info-holder .contact-info a,
	.few-contact .contact-info-holder .contact-info a {
		font-size: 4rem;
	}

	.post-box {
		margin-bottom: 3rem;
	}

	.post-box:last-child {
		margin-bottom: 0;
	}

	.post-box .text-holder {
		padding: 4rem 4rem;
	}

	.post-box .text-holder .title {
		font-size: 4rem;
		line-height: 2.8rem;
		margin-bottom: 1.2rem;
	}

	.post-box .text-holder .text {
		font-size: 1.2rem;
		line-height: 2rem;
	}

	.post-box .img-holder img {
		width: 23rem;
	}

	.post-section .post-header .post-info-holder {
		margin-bottom: 3rem;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.post-section .post-header .post-info-holder .post-info {
		text-align: left;
	}

	.post-section .post-header .text-holder .title {
		font-size: 3.6rem;
		line-height: 2.5rem;
		margin-bottom: 2.2rem;
	}

	.post-section .post-header .img-holder img {
		width: 24rem;
	}
}

@media (max-width: 992px) {
	.extra-lg-text {
		font-size: 4.8rem;
		line-height: 3.4rem;
	}

	.lg-text {
		font-size: 4rem;
		line-height: 2.8rem;
	}

	.normal-text p {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}

	.slg-text {
		font-size: 2.6rem;
		line-height: 1.9rem;
		margin-bottom: 3rem;
	}

	.normal-lg-text p {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	.boxy {
		padding: 5rem 6rem;
	}

	.boxy h1.title {
		font-size: 3rem;
		line-height: 2.4rem;
		margin-bottom: 2rem;
	}

	.boxy.img-box {
		padding: 3.2rem;
		min-height: 370px;
	}

	.boxy.img-box:before {
		background: initial;
		background-repeat: repeat-x;
		background-image: -webkit-linear-gradient(
			0deg,
			rgba(35, 41, 49, 0.6),
			rgba(35, 41, 49, 0)
		);
		background-image: -o-linear-gradient(
			0deg,
			rgba(35, 41, 49, 0.6),
			rgba(35, 41, 49, 0)
		);
		background-image: linear-gradient(
			0deg,
			rgba(35, 41, 49, 0.6),
			rgba(35, 41, 49, 0)
		);
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.boxy .bottom-text .link {
		font-size: 1rem;
	}

	.boxy .bottom-text .link a {
		font-size: 1rem;
	}

	.boxy .bottom-text .text {
		font-size: 0.9rem;
	}

	.boxy.simple-data {
		padding: 7rem 6rem;
	}

	.clients-section {
		padding: 6rem 6.5rem 5rem;
	}

	.clients-section .clients-logos .logo-holder {
		-moz-flex: 1 1 25%;
		-webkit-flex: 1 1 25%;
		-ms-flex: 1 1 25%;
		flex: 1 1 25%;
		margin-bottom: 3rem;
	}

	.clients-section .clients-logos .logo-holder img {
		max-height: 1.8rem;
	}

	.process-section {
		padding: 6rem 6.5rem;
	}

	.process-section p {
		margin-bottom: 4rem;
	}

	.text-box {
		margin-bottom: 2rem;
	}

	.text-box .title {
		font-size: 2rem;
		margin-bottom: 0.6rem;
	}

	.text-box p {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}

	.team-section {
		padding: 6rem 2rem 6rem;
	}

	.team-section .team-photos {
		bottom: -10.25rem;
		padding-bottom: 5rem;
	}

	.team-section .team-photos .photo-holder {
		margin: 0 1.5rem;
	}

	.team-section .team-photos .photo-holder img {
		width: 10rem;
	}

	.team-section .team-photos .photo-holder:nth-child(odd) {
		bottom: -2rem;
	}

	.jobs-section {
		padding: 6rem 6.5rem;
	}

	.jobs-section .lg-text {
		margin-bottom: 4rem;
	}

	.jobs-section .job-box-row {
		margin-bottom: 4rem;
	}

	.jobs-section .job-box-row:last-child {
		margin-bottom: 0;
	}

	.jobs-section .job-box .title {
		font-size: 2rem;
		line-height: 2.5rem;
		text-transform: capitalize;
	}

	.jobs-section .job-box .subtitle {
		font-size: 1.1rem;
		line-height: 2.5rem;
		margin-bottom: 0.5rem;
	}

	.jobs-section .btn-holder {
		text-align: right;
	}

	.jobs-section .btn-holder .cr-btn {
		padding: 1rem 2rem 0.7rem;
	}

	.padding-for-team {
		margin-bottom: 3rem !important;
	}

	.project-info {
		padding: 4rem 6.5rem 0;
	}

	.project-info h2 {
		font-size: 2rem;
		line-height: 1.8rem;
	}

	.project-info .normal-text {
		margin-bottom: 2rem;
	}

	.project-info .text-box .title {
		font-size: 1.9rem;
		margin-bottom: 0.2rem;
	}

	.blog-section {
		padding: 4rem 6.5rem;
	}

	.post-box {
		margin-bottom: 3rem;
	}

	.post-box:last-child {
		margin-bottom: 0;
	}

	.post-box .text-holder {
		padding: 4rem 3rem;
	}

	.post-box .text-holder .title {
		font-size: 2.9rem;
		line-height: 2rem;
		margin-bottom: 1.2rem;
	}

	.post-box .text-holder .text {
		font-size: 1rem;
		line-height: 1.8rem;
	}

	.post-box .img-holder img {
		width: 20rem;
	}

	.post-section .post-header .post-info-holder {
		margin-bottom: 3rem;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.post-section .post-header .post-info-holder .link-holder a {
		font-size: 1.4rem;
	}

	.post-section .post-header .post-info-holder .post-info {
		text-align: left;
	}

	.post-section .post-header .post-info-holder .post-info .date {
		font-size: 1.1rem;
	}

	.post-section .post-header .post-info-holder .post-info .auther {
		font-size: 1.1rem;
	}

	.post-section .post-header .text-holder {
		padding: 3rem 6.5rem 0rem;
	}

	.post-section .post-header .text-holder .title {
		font-size: 2.6rem;
		line-height: 2rem;
		margin-bottom: 2.2rem;
	}

	.post-section .post-header .text-holder .text {
		font-size: 1rem;
		line-height: 1.8rem;
	}

	.post-section .post-header .img-holder img {
		width: 20rem;
	}

	.post-section .post-content {
		padding: 3rem 6.5rem;
	}

	.post-section .post-content h1 {
		font-size: 2rem;
		line-height: 2rem;
		margin-bottom: 1rem;
	}

	.post-section .post-content p {
		font-size: 1rem;
		line-height: 1.8rem;
		margin-bottom: 3rem;
	}

	.our-people-section {
		padding: 6rem 6.5rem;
	}

	.our-people-section .extra-lg-text {
		margin-bottom: 5rem;
	}

	.our-people-section .lg-text {
		margin-bottom: 2rem;
	}

	.our-people-section .normal-text {
		margin-bottom: 3rem;
	}

	.our-people-section .people-box-row {
		margin-bottom: 3rem;
	}

	.our-people-section .people-box-row:last-child {
		margin-bottom: 0;
	}

	.our-people-section .people-box .title {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.our-people-section .people-box .subtitle {
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 1rem;
	}

	.our-people-section .btn-holder {
		text-align: right;
	}

	.our-people-section .btn-holder .cr-btn {
		padding: 1.1rem 2rem 0.9rem;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		left: 2rem;
	}

	.main-menu {
		overflow: scroll;
		left: -100%;
	}

	.main-menu .menu-links ul li a {
		font-size: 4.8rem;
		line-height: 3rem;
	}

	.cnav {
		padding: 2rem 2rem;
	}

	.cnav .logo-holder img {
		width: 2.2em;
	}

	.cr-btn {
		font-size: 1.3rem;
	}

	.header {
		padding: 11.5rem 2rem 10rem;
	}

	.extra-lg-text {
		font-size: 3.8rem;
		line-height: 2.6rem;
	}

	.lg-text {
		font-size: 2.6rem;
		line-height: 1.9rem;
	}

	.normal-text p {
		font-size: 1rem;
		line-height: 1.8rem;
		padding: 0;
	}

	.boxy {
		padding: 5rem 5rem;
	}

	.boxy h1.title {
		font-size: 2.5rem;
	}

	.clients-section {
		padding: 6rem 5rem 5rem;
	}

	.clients-section .clients-logos .logo-holder img {
		max-height: 1.5rem;
	}

	.default-content {
		padding: 10rem 2rem 8rem;
	}

	.other-content {
		padding: 6rem 2rem;
	}

	.footer {
		padding: 6rem 2rem 6rem;
	}

	.footer .contact-info-holder {
		text-align: center;
	}

	.footer .contact-info-holder .title {
		font-size: 1.8rem;
	}

	.footer .contact-info-holder .contact-info {
		font-size: 2.2rem;
		margin-bottom: 3rem;
	}

	.footer .contact-info-holder .contact-info a {
		font-size: 2.2rem;
	}

	.footer .contact-info-holder .social-media .social-link-holder a {
		font-size: 0.9rem;
	}

	.footer.one-word {
		padding: 8rem 8rem 7rem;
	}

	.process-section {
		padding: 6rem 5rem;
	}

	.process-section p {
		margin-bottom: 4rem;
	}

	.text-box {
		margin-bottom: 2rem;
	}

	.text-box .title {
		font-size: 2rem;
		margin-bottom: 0.6rem;
	}

	.text-box p {
		font-size: 1rem;
		line-height: 1.8rem;
		margin-bottom: 2rem;
	}

	.team-section {
		padding: 6rem 2rem 6rem;
	}

	.team-section .team-photos {
		bottom: -8.25rem;
		padding-bottom: 5rem;
	}

	.team-section .team-photos .photo-holder {
		margin: 0 1rem;
	}

	.team-section .team-photos .photo-holder img {
		width: 8rem;
	}

	.team-section .team-photos .photo-holder:nth-child(odd) {
		bottom: -2rem;
	}

	.jobs-section {
		padding: 6rem 5rem 6rem;
	}

	.padding-for-team {
		margin-bottom: 1rem !important;
	}

	.project-info {
		padding: 4rem 5rem 0;
	}

	.project-imgs {
		padding: 2rem;
	}

	.project-imgs .img-holder {
		margin-bottom: 2.5rem;
	}

	.blog-section {
		padding: 3rem 5rem;
	}

	.post-box {
		margin-bottom: 3rem;
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.post-box:last-child {
		margin-bottom: 0;
	}

	.post-box .text-holder {
		padding: 3rem;
	}

	.post-box .img-holder img {
		width: 100%;
	}

	.post-section .post-header {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.post-section .post-header .text-holder {
		width: 100%;
		padding: 3rem 5rem 0rem;
	}

	.post-section .post-header .text-holder .title {
		font-size: 2.9rem;
	}

	.post-section .post-header .img-holder img {
		width: 100%;
	}

	.post-section .post-content {
		padding: 3rem 5rem;
	}

	.few-contact {
		padding: 4rem 2rem;
	}

	.few-contact .contact-info-holder {
		text-align: center;
	}

	.few-contact .contact-info-holder .title {
		font-size: 1.8rem;
	}

	.few-contact .contact-info-holder .contact-info {
		font-size: 2.2rem;
		margin-bottom: 0;
	}

	.few-contact .contact-info-holder .contact-info a {
		font-size: 2.2rem;
	}

	.our-people-section {
		padding: 6rem 5rem;
	}

	.our-people-section .extra-lg-text {
		margin-bottom: 4rem;
	}

	.our-people-section .lg-text {
		margin-bottom: 2rem;
	}

	.our-people-section .normal-text {
		margin-bottom: 3rem;
	}

	.our-people-section .people-box-row {
		margin-bottom: 3rem;
	}

	.our-people-section .people-box-row:last-child {
		margin-bottom: 0;
	}

	.our-people-section .people-box .title {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.our-people-section .people-box .subtitle {
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 1rem;
	}

	.our-people-section .btn-holder {
		text-align: right;
	}

	.our-people-section .btn-holder .cr-btn {
		padding: 1.1rem 2rem 0.9rem;
	}

	.social-row {
		padding: 5rem 5.5rem;
	}

	.social-row .social-media .social-link-holder a {
		font-size: 1.5rem;
	}
}

@media (max-width: 575px) {
	.menu-toggle {
		left: inherit;
		right: 1rem;
		top: 2.3rem;
		width: 1.2rem;
	}

	.menu-toggle.open {
		left: inherit;
		right: 1.5rem;
		top: 3.1rem;
	}

	.menu-toggle .icon::before {
		top: 0.5rem;
	}

	.menu-toggle .icon::after {
		top: 1rem;
	}

	.menu-toggle.open .icon:before {
		-webkit-transform: rotate(45deg) scaleX(1.4) translateX(4px);
		-moz-transform: rotate(45deg) scaleX(1.4) translateX(4px);
		-ms-transform: rotate(45deg) scaleX(1.4) translateX(4px);
		transform: rotate(45deg) scaleX(1.4) translateX(4px);
	}

	.menu-toggle.open .icon:after {
		top: 1rem;
		-webkit-transform: rotate(-45deg) scaleX(1.4) translateX(4px);
		-moz-transform: rotate(-45deg) scaleX(1.4) translateX(4px);
		-ms-transform: rotate(-45deg) scaleX(1.4) translateX(4px);
		transform: rotate(-45deg) scaleX(1.4) translateX(4px);
	}

	.main-menu {
		width: 100%;
		padding: 2rem;
		text-align: left;
	}

	.main-menu .menu-links {
		margin-bottom: 4rem;
	}

	.main-menu .menu-links ul li {
		overflow: hidden;
		padding-top: 0.5rem;
	}

	.main-menu .menu-links ul li a,
	.main-menu .menu-links ul li button {
		font-size: 2.2rem;
		line-height: 2rem;
		text-align: left;
	}

	.main-menu .menu-links ul li.dropdown {
		display: flex;
		flex-direction: column;
	}

	.main-menu .social-media .social-link-holder {
		text-align: left;
	}

	.header {
		padding: 7rem 2rem 5rem;
	}

	.cnav {
		padding: 1rem 0.8rem;
	}

	.cnav .logo-holder img {
		width: 2rem;
	}

	.cnav .social-media {
		display: none;
	}

	.extra-lg-text {
		font-size: 2.8rem;
		line-height: 2rem;
	}

	.boxy {
		padding: 5rem 3.5rem;
	}

	.boxy.simple-data {
		padding: 7rem 2rem;
	}

	.clients-section {
		padding: 6rem 2rem;
	}

	.clients-section .clients-logos .logo-holder {
		-moz-flex: 1 1 50%;
		-webkit-flex: 1 1 50%;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
		margin-bottom: 3rem;
	}

	.clients-section .clients-logos .logo-holder img {
		max-height: 1.5rem;
	}

	.footer .contact-info-holder .social-media .social-link-holder a {
		font-size: 0.7rem;
	}

	.process-section {
		padding: 9rem 2rem 0;
	}

	.process-section > .row {
		margin-right: 0;
		margin-left: 0;
	}

	.process-section > .row > div[class^='col'] {
		padding-right: 0;
		padding-left: 0;
	}

	.team-section .team-photos {
		padding-bottom: 1rem;
	}

	.jobs-section {
		padding: 2rem 2rem 6rem;
	}

	.jobs-section .btn-holder {
		text-align: left;
	}

	.project-info {
		padding: 4rem 2rem 0;
	}

	.project-imgs .img-holder {
		margin-bottom: 1rem;
	}

	.blog-section {
		padding: 2rem;
	}

	.post-box .text-holder {
		padding: 2rem;
	}

	.post-section .post-header .text-holder {
		padding: 3rem 2rem 0rem;
	}

	.post-section .post-content {
		padding: 3rem 2rem;
	}

	.our-people-section {
		padding: 6rem 2rem;
	}

	.our-people-section .btn-holder {
		text-align: left;
	}

	.social-row .social-media .social-link-holder a {
		font-size: 2rem;
	}
}
